.message {
  text-align: center;
}

.groupUl {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}
.groupLi {
  width: 100%;
  border-radius: var(--space-xs);
  border: solid 1px var(--color-base);
  margin: var(--space-base) 0;
}
.groupLink {
  display: block;
  text-decoration: none;
  padding: var(--space-sm);
}

.groupHeader {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  margin: 0 0 var(--space-sm) 0;
}
.memberBox {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  width: 100%;
}
.groupName {
  font-size: var(--text-xl);
  color: var(--background-color-base);
  background-color: var(--color-base);
  padding: 0 var(--space-sm);
}

.memberLabel {
  font-size: var(--text-sm);
  white-space: nowrap;
}
.memberNames {
  word-wrap: break-word;
  min-width: 0;
}

.createdByWrapper {
  width: fit-content;
  display: flex;
  min-width: 0;
}
.createdByLabel {
  font-size: var(--text-sm);
  white-space: nowrap;
}
.createdBy {
  font-size: var(--text-sm);
  word-wrap: break-word;
  min-width: 0;
}

.moneyUl {
  width: fit-content;
  max-width: 900px;
  margin: 0 auto;
  list-style: none;
}
