.title {
  font-size: var(--text-4xl);
  font-family: 'Limelight', sans-serif;
  text-align: center;
  margin: var(--space-2xl) 0;
}

.description {
  text-align: center;
  margin: 0 0 var(--space-lg) 0;
}

.welcomeBox {
  display: flex;
  gap: var(--space-lg);
  width: 100%;
  justify-content: center;
}

.message {
  text-align: center;
}

.groupUl {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}
.groupLi {
  width: calc(100% - var(--space-sm) * 2);
  border-radius: var(--space-xs);
  border: solid 1px var(--color-base);
  margin: var(--space-base) 0;
  padding: var(--space-xs) var(--space-sm);
}

.memberUl {
  list-style: none;
  display: flex;
}
.groupHeader {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  margin: 0 0 var(--space-sm) 0;
}
.memberBox {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}
.groupLink {
  font-size: var(--text-xl);
}
.label {
  font-size: var(--text-sm);
}

.moneyUl {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
  list-style: none;
}
