.welcomeBox {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: var(--space-lg) 0;
}

@media screen and (min-width: 500px) {
  .welcomeBox {
    flex-direction: row;
    gap: var(--space-lg);
  }
}

@media screen and (max-width: 499px) {
  .welcomeBox {
    flex-direction: column;
    gap: var(--space-base);
    text-align: center;
    align-items: center;
  }
}

.button {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: var(--text-lg);
  color: var(--background-color-base);
  background-color: var(--color-base);
  padding: 0 var(--space-sm);
  border: 6px double var(--background-color-base);
  cursor: pointer;
  width: 150px;
}
