.markdown {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  & * {
    margin-top: var(--space-sm);
    margin-bottom: var(--space-sm);
    font-size: var(--text-base);
  }
  & h1 {
    font-size: var(--text-2xl);
  }
  & h2 {
    font-size: var(--text-xl);
  }
  & h3 {
    font-size: var(--text-lg);
  }
  & ul,
  ol {
    padding-left: var(--space-base);
  }
}
