.container {
  width: fit-content;
  margin: 0 auto;
  padding: var(--space-lg) 0;
}

.content {
  text-align: center;
  margin: var(--space-base) 0 0 0;
}

.loader {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  gap: 20px;
  width: fit-content;
  margin: 0 auto;
}

.box {
  width: 20px;
  height: 20px;
  background-color: var(--color-base);
  animation: fade 1s infinite ease-in-out;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.box:nth-child(1) {
  animation-delay: 0s;
}
.box:nth-child(2) {
  animation-delay: 0.2s;
}
.box:nth-child(3) {
  animation-delay: 0.4s;
}
.box:nth-child(4) {
  animation-delay: 0.6s;
}
.box:nth-child(5) {
  animation-delay: 0.8s;
}
