.createdByOuter {
  display: flex;
  justify-content: center;
}
.createdByWrapper {
  width: fit-content;
  max-width: 900px;
  min-width: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.label {
  font-size: var(--text-sm);
  white-space: nowrap;
}

.text {
  font-size: var(--text-sm);
  overflow-wrap: break-word;
  word-wrap: break-word;
  min-width: 0;
}
