.footer {
  width: 100%;
  padding: 30px 0;
  border-top: 4px double var(--color-base);
}

.copyright {
  text-align: center;
  font-size: var(--text-sm);
}

.nav {
  display: flex;
  justify-content: center;
  gap: var(--space-lg);
  margin: 10px 0 0 0;
}
.link {
  display: block;
  font-size: var(--text-sm);
}
