.title {
  font-size: var(--text-3xl);
  text-align: center;
  margin: var(--text-6xl) 0 0 0;
  word-wrap: break-word;
}

.createdByWrapper {
  width: fit-content;
  display: flex;
  min-width: 0;
  max-width: 900px;
  margin: 0 auto;
}
.createdByLabel {
  font-size: var(--text-sm);
  white-space: nowrap;
}
.createdBy {
  font-size: var(--text-sm);
  word-wrap: break-word;
  min-width: 0;
}

.memberTitle {
  text-align: center;
  font-size: var(--text-xl);
  margin: var(--space-base) 0 var(--space-sm) 0;
}
.memberNames {
  word-wrap: break-word;
  min-width: 0;
  max-width: 900px;
  margin: 0 auto;
}

.moneyUl {
  width: fit-content;
  max-width: 900px;
  margin: 0 auto;
  list-style: none;
}
.moneyLi {
  display: flex;
  border-radius: var(--space-xs);
  border: solid 1px var(--color-base);
  margin: var(--space-base) 0;
  padding: var(--space-sm);
}
.moneyInfo {
  flex: 1 1 auto;
  min-width: 0;
}
.moneyMetaInfo {
  font-size: var(--text-base);
}
.moneySummary {
  word-wrap: break-word;
}
.detailButton {
  font-size: var(--text-base);
  background-color: var(--background-color-base);
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
.moneyDetail {
  font-size: var(--text-base);
  margin: var(--space-sm) 0;
  word-wrap: break-word;
}
