.inputWrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.label {
  display: block;
}
.input {
  display: block;
  width: 100%;
  color: #000000;
}
.textarea {
  display: block;
  width: 100%;
  height: 100px;
  color: #000000;
}
.error {
  color: var(--color-error);
  font-size: var(--text-base);
}
