.header {
  width: calc(100% - 60px);
  padding: var(--space-base);
  display: flex;
  justify-content: space-between;
  border-bottom: 4px double var(--color-base);
}

.title {
  display: block;
  font-size: var(--text-2xl);
  font-family: 'Limelight', sans-serif;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--space-base);
}

.identicon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media screen and (max-width: 599px) {
  .navLink {
    display: none;
  }
}
