.header {
  width: calc(100% - 60px);
  padding: 0 var(--space-base);
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px double var(--color-base);
}

.titleContainer {
  display: flex;
  align-items: center;
}
.title {
  display: block;
  font-size: var(--text-2xl);
  font-family: 'Limelight', sans-serif;
  text-decoration: none;
}

.navContainer {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
}
.nav {
  display: flex;
  gap: var(--space-base);
}
