.buttonWrapper {
  width: fit-content;
  margin: 0 auto;
}
.button {
  background-color: var(--background-color-base);
  border: 6px double var(--color-base);
  padding: var(--space-base);
  border-radius: 50%;
  cursor: pointer;
}

.icon {
  width: 100px;
  height: 100px;
  fill: var(--color-base);
}

.label {
  text-align: center;
}
