.container {
  width: fit-content;
  margin: 0 auto;
  padding: var(--space-base);
  border: 1px solid var(--color-base);
  border-radius: 10px;
}

.description {
  text-align: center;
  margin: 0 0 var(--space-base) 0;
}

.label {
  text-align: center;
  font-size: var(--text-xl);
  margin: 0 0 var(--space-base) 0;
}

.ol {
  width: fit-content;
  margin: 0 auto;
}

.icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: var(--space-base) auto;
  stroke-width: 1px;
}
