.button {
  font-size: var(--text-base);
  color: var(--background-color-base);
  background-color: var(--color-base);
  padding: 0 var(--space-sm);
  border: 6px double var(--background-color-base);
  cursor: pointer;
}
