.button {
  font-size: var(--text-lg);
  color: var(--background-color-base);
  background-color: var(--color-base);
  padding: 0 var(--space-sm);
  border: 6px double var(--background-color-base);
  display: block;
  width: 260px;
  margin: 0 auto;
  cursor: pointer;
}
